@import "../../style/index.scss";

$split-icon-font-size: 20px;

.amp-button {
  height: var(--default-button-height);
  min-width: 120px;
  border-radius: var(--default-button-radius) !important;
  border: $border-primary;
  box-sizing: border-box;
  /** @todo: create mixin for font size and weight */
  font-weight: 400 !important;
  box-shadow: none !important;
  position: relative;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-family: var(--primary-font-family);
  // padding-left: 12px !important;
  // padding-right: 12px !important;
  cursor: pointer;

  &[disabled] {
    cursor: default;
    font-family: var(--primary-font-family);
  }

  &__icon {
    margin: 0 var(--icon-spacing);
  }

  &.amp-button--primary {
    background-color: var(--primary);
    border: $border-primary;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--dark-purple);
      border-color: var(--dark-purple);
    }

    &[disabled] {
      background-color: var(--black20);
      border: none;
    }
  }

  &.amp-button--call-to-action {
    background-color: var(--black90);
    color: var(--white);
    border: $border-primary;
    border-color: var(--black90);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--black100);
      border-color: var(--black100);
    }

    &[disabled] {
      background-color: var(--black40);
      border-color: var(--black40);
      color: var(--black20);
    }
  }

  &.amp-button--secondary {
    background-color: transparent;
    border: none;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--black10);
      border-color: none !important;
    }

    &[disabled] {
      background-color: transparent;
      border: none;
    }
  }

  &.amp-button--clear {
    background-color: transparent;
    border: none;
    min-width: var(--default-button-height);
    height: var(--default-button-height);
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }

    &[disabled] {
      background-color: transparent;
      border: none;
    }
  }

  &.amp-button--split {
    display: inline-flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    &[disabled] .amp-button__split:after {
      border-left-color: var(--black10);
    }

    .amp-button__split {
      padding-left: var(--default-spacing);
      margin-left: var(--default-spacing);
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: -6px;
        bottom: -6px;
        border: none;
        border-left: $border-primary;
      }

      .split-icon {
        font-size: $split-icon-font-size;
      }
    }
  }

  &.amp-button--link,
  &.amp-button--text {
    border: none;
  }
  // text color depend on state
  &.amp-button-state--default {
    color: var(--static-white);
  }
  &[disabled] {
    color: var(--black30);
  }
  // background color depend on type
  &.amp-button--link,
  &.amp-button--text,
  &.amp-button--default {
    background-color: transparent;
  }

  &.amp-button--default {
    border: 1px solid #a3a8b8;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid #ffff;
    }
  }

  &.amp-button--text {
    &:hover,
    &:active,
    &:focus {
      background-color: #444b66;
    }
  }

  &--size {
    &--large {
      font-size: var(--large-font-size) !important;
      padding-left: 12px !important;
      padding-right: 12px !important;
      padding-top: 6px !important;
      padding-bottom: 6px !important;
    }
    &--default {
      font-size: var(--normal-font-size) !important;
      padding-left: 12px !important;
      padding-right: 12px !important;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
    }
    &--small {
      font-size: var(--small-font-size) !important;
      padding-left: 12px !important;
      padding-right: 12px !important;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
    }
  }
}
